-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_upis.git#egg=wishful_upis
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_framework.git#egg=wishful_framework
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_controller.git#egg=wishful_controller
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_agent.git#egg=wishful_agent
-e git+https://gitlab.tkn.tu-berlin.de/wishful/stream_pipe.git#egg=stream_pipe
-e git+https://gitlab.tkn.tu-berlin.de/wishful/pyre.git#egg=pyre
-e git+https://gitlab.tkn.tu-berlin.de/wishful/python-tc.git#egg=python-tc
-e git+https://github.com/phaethon/scapy.git#egg=master
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_module_discovery.git#egg=wishful_module_discovery
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_module_discovery_pyre.git#egg=wishful_module_discovery_pyre
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_module_ptp.git#egg=wishful_module_ptp
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_module_transaction.git#egg=wishful_module_transaction
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_module_handover.git#egg=wishful_module_handover
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_module_wireless_topology.git#egg=wishful_module_wireless_topology
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_module_rules.git#egg=wishful_module_rules
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_module_simple.git#egg=wishful_module_simple
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_module_iperf.git#egg=wishful_module_iperf
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_module_wifi.git#egg=wishful_module_wifi
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_module_wifi_ath.git#egg=wishful_module_wifi_ath
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_module_ni_sdr.git#egg=wishful_module_ni_sdr
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_module_rs_signal_gen.git#egg=wishful_module_rs_signal_gen
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_module_spectral_scan_ath9k.git#egg=wishful_module_spectral_scan_ath9k
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_module_robot.git#egg=wishful_module_robot
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_module_net_linux.git#egg=wishful_module_net_linux
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_module_gnuradio.git#egg=wishful_module_gnuradio
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_examples.git#egg=wishful_examples
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_tests.git#egg=wishful_tests
-e git+https://gitlab.tkn.tu-berlin.de/wishful/wishful_mininet.git#egg=wishful_mininet