-e git+https://github.com/wishful-project/stream_pipe.git#egg=stream_pipe
-e git+https://github.com/wishful-project/pyre.git#egg=pyre
-e git+https://github.com/wishful-project/python-tc.git#egg=python-tc
-e git+https://github.com/phaethon/scapy.git#egg=master
./upis
./agent
./modules/simple
./modules/iperf
./modules/net_linux
./modules/wifi
./modules/wifi_ath
./modules/spectral_scan_ath9k
./modules/ni_sdr
./modules/rs_signal_gen
./modules/robot
./modules/gnuradio
./modules/rules
./apps/discovery
./apps/discovery_pyre
./apps/handover
./apps/wireless_topology
./apps/wireless_stats
./examples
./mininet
